{% extends 'admin/dashboard.html' %}
{% block title %}Settings - AA MART Admin{% endblock %}
{% block page_title %}Website Settings{% endblock %}

{% block admin_content %}
<div class="admin-card">
    <div class="card-body">
        <form method="POST" class="form-admin">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Site Name</label>
                    <input type="text" name="site_name" class="form-control" value="{{ settings.get('site_name', 'AA MART') }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Site Description</label>
                    <input type="text" name="site_description" class="form-control" value="{{ settings.get('site_description', '') }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Phone</label>
                    <input type="text" name="phone" class="form-control" value="{{ settings.get('phone', '') }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" value="{{ settings.get('email', '') }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" name="address" class="form-control" value="{{ settings.get('address', '') }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">Facebook</label>
                    <input type="text" name="facebook" class="form-control" value="{{ settings.get('facebook', '') }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Twitter</label>
                    <input type="text" name="twitter" class="form-control" value="{{ settings.get('twitter', '') }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Instagram</label>
                    <input type="text" name="instagram" class="form-control" value="{{ settings.get('instagram', '') }}">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">YouTube</label>
                    <input type="text" name="youtube" class="form-control" value="{{ settings.get('youtube', '') }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Delivery Charge (Rs.)</label>
                    <input type="number" name="delivery_charge" class="form-control" value="{{ settings.get('delivery_charge', '99') }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Free Delivery Min (Rs.)</label>
                    <input type="number" name="free_delivery_min" class="form-control" value="{{ settings.get('free_delivery_min', '500') }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Tax Rate (%)</label>
                    <input type="number" name="tax_rate" class="form-control" value="{{ settings.get('tax_rate', '5') }}" step="0.1">
                </div>
            </div>
            <button type="submit" class="btn btn-admin">Save Settings</button>
        </form>
    </div>
</div>
{% endblock %}
